[submodule "tests"]
	path = execution/tests/legacy-tests
	url = https://github.com/ethereum/tests
[submodule "node/interfaces"]
	path = node/interfaces
	url = https://github.com/erigontech/interfaces
